<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{
				font-size: 12px;
			}
		</style>
		<script type="text/javascript" src="js/laydate.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
	</head>
	<body>
		<table align="center" width="90%">
			<tr>
				
				<td>客户名称:</td>
				<td width="300px">
					<input type="text" style="width: 120px;" name="clientName"/>
				</td>
				<td>是否事实客户:</td>
				<td>
					<input type="text" value="否" name="Fact" disabled="disabled">
				</td>
			</tr>
			<tr>
				<td>证件类型:</td>
				<td>
					<select name="creatid"  style="width: 124px; height: 24px;">
						<option value="0">全部</option>
						<option th:each="cert1:${cert}" th:text="${cert1.certtype}"  th:value="${cert1.certid}">身份证</option>
					</select>
				</td>
				<td>风险评级(信托版):</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>证件号码:</td>
				<td>
					<input type="text" style="width: 120px;" name="certnumber"/>
				</td>
				<td>风险评级(基金版):</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>证件有效期:</td>
				<td>
					<input style="width: 100px;" name="certtime">
				</td>
				<td>手机号码:</td>
				<td>
					<input type="text" style="width: 120px;" name="phone"/>
				</td>
			</tr>
			<tr>
				<td>行业细分:</td>
				<td>
					<select name=""  style="width: 124px; height: 24px;">
						<option value="">技术监督局代码</option>
					</select>
				</td>
				<td>联系地址:</td>
				<td>
					<input type="text" style="width: 120px;" name="address"/>
				</td>
			</tr>
			<tr>
				<td>法人代表名称:</td>
				<td>
					<input type="text" style="width: 120px;" name="legalname"/>
				</td>
				<td>电子邮件:</td>
				<td>
					<input type="text" style="width: 120px;" name="eamil"/>
				</td>
			</tr>
			<tr>
				<td>法人代表证件类型:</td>
				<td>
					<select name="clientType"  style="width: 124px; height: 24px;">
						<option value="0">全部</option>
						<option value="1">身份证</option>
						<option value="2">外籍护照</option>
						<option value="3">港澳居民往来内地通行证</option>
						<option value="4">台胞证</option>
					</select>
				</td>
				<td>联系电话:</td>
				<td>
					<input type="text" style="width: 120px;" name="contactsphone"/>
				</td>
			</tr>
			<tr>
				<td>法人代表证件号码:</td>
				<td>
					<input type="text" style="width: 120px;" name="Lcertnumber"/>
				</td>
				<td>主要客户经理:</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>法人代表证件有效期:</td>
				<td>
					<input style="width: 100px;" name="Lcerttime">
				</td>
				<td>备注:</td>
				<td>
					<input type="text" style="width: 80px;"  name="remarks"/> <input type="button" xian="x" onclick="zhiye()" id="zhiye" value="修改"/>
				</td>
			</tr>
			<tr>
				<td>经营范围:</td>
				<td>
					<input type="text" style="width: 120px;" name="scopebusiness"/>
				</td>
				<td>注册币种:</td>
				<td>
					<select name="currency"  style="width: 124px; height: 24px;">
						<option value="0"></option>
						<option value="1">人民币</option>
						<option value="2">港币</option>
						<option value="3">台币</option>
						<option value="4">美元</option>
						<option value="5">韩币</option>
						<option value="6">欧元</option>
						<option value="7">加元</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>注册资金:</td>
				<td>
					<input type="text" style="width: 120px;" name="registermoney"/>
				</td>
				<td>注册地址:</td>
				<td>
					<input type="text" style="width: 120px;" name="registermoney"/>
				</td>
			</tr>
			<tr style="text-align: center">
				<td colspan="4" style="text-align: center">
					<input type="button" value="保存" style="margin-left: 300px; border-radius: 7px; background-color: dodgerblue; color: white; width: 70px;"/>
					<input type="button" value="取消"  style="margin-left: 30px; border-radius: 7px; background-color: dodgerblue; color: white; width: 70px;"/>
				</td>
			</tr>
		</table>

		<div id="xianshi" style="width: 800px;height: 300px;background-color: azure;display: none;position: absolute;left: 300px;top: 150px;">
			<table style="border: none; margin-top: 20px;" border="1" cellpadding="0" cellspacing="0"align="center" width="80%">
				<tr>
					<td colspan="4" height="30px">职业信息</td>
				</tr>
				<tbody id="css01">

				<tr>
					<td>职业:</td>
					<td>
						<input type="text" name="occpation"/>
					</td>
					<td>所属行业:</td>
					<td>
						<select name="trade"  style="width: 160px; height: 20px;">
							<option value="">工业生产</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>工作单位名称:</td>
					<td>
						<input type="text" name="Workunitname"/>
					</td>
					<td>单位性质:</td>
					<td>
						<select name="nature"  style="width: 160px; height: 20px;">
							<option value="">国有</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>职位职务:</td>
					<td>
						<input type="text" name="position"/>
					</td>
					<td>职称:</td>
					<td>
						<select name="Title"  style="width: 160px; height: 20px;">
							<option value="">高级</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>是否单位实际控制人:</td>
					<td>
						<select name="ontroller"  style="width: 160px; height: 20px;">
							<option value="">请选择</option>
						</select>
					</td>
					<td>工龄（年）:</td>
					<td>
						<input type="text" name="workingyears"/>
					</td>
				</tr>
				</tbody>
				<tr style="text-align: center"  height="60px">
					<td colspan="4">
						<input type="button"onclick="zhiye()" id="xianshi2"  value="保存" style="background-color: dodgerblue; color: white; width: 70px;"/>
						<input type="reset" value="取消" style="margin-left: 20px;background-color: dodgerblue; color: white; width: 70px;" />
					</td>
				</tr>
			</table>
		</div>
	</body>
	<script type="text/javascript">
		!function(){
			laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
			laydate({elem: '#demo'});//绑定元素
		}();
		!function(){
			laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
			laydate({elem: '#demo1'});//绑定元素
		}();
		
		
		function zhiye(){
			var xian = $('#zhiye').attr("xian");

			if(xian == 'x'){
				$("#xianshi").css("display","block");
				$('#zhiye').attr("xian","y");
			}else{
				var baocun = confirm("确定保存吗？");
				if(baocun == true){
					$("#xianshi").css("display","none");
					$('#zhiye').attr("xian","x");
				}
			}
		}
	</script>
</html>
