<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.tiantian.dao.TTClientMapper">
	<resultMap id="map" type="Client" autoMapping="true">
		<id property="clientid" column="clientid"></id>
		<association property="cert" resultMap="map2"></association>
		<association property="contacts" resultMap="map3"></association>
	</resultMap>
	<resultMap id="map2" type="Cert" autoMapping="true">
		<id property="certid" column="certid"></id>
	</resultMap>
	<resultMap id="map3" type="Contacts" autoMapping="true">
		<id property="contactid" column="contactsid"></id>
	</resultMap>

    <insert id="addClient" parameterType="Client">
        INSERT INTO financedb.client
			(
			clientName,
			clientType,
			certnumber,
			Fmid,
			Fact,
			clientstatus,
			clientlevel,
			risklevelTE,
			risklevelFE,
			FinanID,
			contactsid,
			assset,
			gender,
			certtime,
			birthdateZC,
			birthdateLC,
			nationality,
			marital,
			nation,
			phone,
			address,
			eamil,
			occpation,
			remarks,
			contactpreference,
			controller,
			workingyears,
			legalname,
			Lcerttype,
			Lcertnumber,
			Lcerttime,
			scopebusiness,
			registermoney,
			creationtime,
			newfinancialmanager,
			blacklist,
			Finance,
			certid,
			Workunitname,
			trade,
			nature,
			position,
			Title
			)
			VALUES
			(
			#{clientName},
			#{clientType},
			#{certnumber},
			#{Fmid},
			#{Fact},
			#{clientstatus},
			#{clientlevel},
			#{risklevelTE},
			#{risklevelFE},
			#{FinanID},
			#{contacts.contactid},
			#{assset},
			#{gender},
			#{certtime},
			#{birthdateZC},
			#{birthdateLC},
			#{nationality},
			#{marital},
			#{nation},
			#{phone},
			#{address},
			#{eamil},
			#{occpation},
			#{remarks},
			#{contactpreference},
			#{controller},
			#{workingyears},
			#{legalname},
			#{Lcerttype},
			#{Lcertnumber},
			#{Lcerttime},
			#{scopebusiness},
			#{registermoney},
			#{creationtime},
			#{newfinancialmanager},
			#{blacklist},
			#{Finance},
			#{cert.certid},
			#{Workunitname},
			#{trade},
			#{nature},
			#{position},
			#{Title}
			);
    </insert>
	<insert id="addcontacts" parameterType="Contacts">
		INSERT INTO financedb.contacts
			(contactid,
			contactname,
			clienttype,
			Lcerttype,
			certnumber,
			contactstype,
			contactsphone,
			remarks
			)
			VALUES
			(#{contactid},
			#{contactname},
			#{clienttype},
			#{Lcerttype},
			#{certnumber},
			#{contactstype},
			#{contactsphone},
			#{remarks}
			);
	</insert>
	<select id="querygerenAll" parameterType="Client" resultMap="map">

		SELECT * FROM
			financedb.client cl,
			financedb.cert ce
			WHERE
			cl.certid = ce.certid
		<if test="client.clientName!=null and client.clientName!=''">
			and clientName LIKE CONCAT ('%',#{client.clientName},'%')
		</if>
		<if test="client.clientType!=null and client.clientType!= 2">
			AND clientType = #{client.clientType}
		</if>
		<if test="client.cert!=null and client.cert.certid != 0">
			AND cl.certid = #{client.cert.certid}
		</if>
		<if test="client.certnumber!=null and client.certnumber!=''">
			AND certnumber LIKE CONCAT ('%',#{client.certnumber},'%')
		</if>
		<if test="client.Fmid!=null and client.Fmid!=''">
			AND Fmid LIKE CONCAT ('%',#{client.Fmid},'%')
		</if>
		<if test="client.Fact!=null and client.Fact!= 0">
			AND Fact = #{client.Fact}
		</if>
		<if test="client.clientstatus!=null and client.clientstatus!= 0">
			AND clientstatus = #{client.clientstatus}
		</if>
		<if test="client.tclientlevel!=null ">
			AND clientlevel IN
			<foreach collection="client.tclientlevel" open="(" close=")" item="trisk" separator=",">
				#{trisk}
			</foreach>
		</if>
		<if test="client.trisklevelTE!=null ">
			AND risklevelTE IN 
			<foreach collection="client.trisklevelTE" open="(" close=")" item="trisk" separator=",">
				#{trisk}
			</foreach>
		</if>
		<if test="client.trisklevelFE!=null">
			AND risklevelFE IN
			<foreach collection="client.trisklevelFE" open="(" close=")" item="trisk" separator=",">
				#{trisk}
			</foreach>
		</if>
	</select>
	<select id="queryCertAll" resultType="Cert">
		SELECT * FROM cert
	</select>
	<select id="queryjigouAll" parameterType="Client" resultMap="map">
		SELECT * FROM
			financedb.client cl,
			financedb.cert ce,
			financedb.contacts co
			WHERE
			cl.certid = ce.certid
			AND cl.contactsid = co.contactid
		<if test="client.clientName!=null and client.clientName!=''">
			and clientName LIKE CONCAT ('%',#{client.clientName},'%')
		</if>
		<if test="client.cert!=null and client.cert.certid != 0">
			AND cl.certid = #{client.cert.certid}
		</if>
		<if test="client.certnumber!=null and client.certnumber!=''">
			AND certnumber LIKE CONCAT ('%',#{client.certnumber},'%')
		</if>
		<if test="client.FinanID!=null and client.FinanID!= ''">
			AND clientType = #{client.clientType}
		</if>
		<if test="client.contacts!=null and client.contacts.contactname != ''">
			AND co.contactname LIKE CONCAT ('%', #{client.contacts.contactname},'%')
		</if>
		<if test="client.Fmid!=null and client.Fmid!=''">
			AND Fmid LIKE CONCAT ('%',#{client.Fmid},'%')
		</if>
		<if test="client.clientstatus!=null and client.clientstatus!= 0">
			AND clientstatus = #{client.clientstatus}
		</if>
		<if test="client.Fact!=null and client.Fact!= 0">
			AND Fact = #{client.Fact}
		</if>
		 order by cl.clientid desc
	</select>
	<select id="queryContactsAll" resultType="Contacts">
		select * from financedb.contacts
	</select>
	<select id="detailByclient" parameterType="Integer" resultMap="map">
		     SELECT * FROM CLIENT cl,cert ce,contacts co WHERE cl.certid = ce.certid AND cl.contactsid = co.contactid AND cl.clientid = #{id};
	</select>

	<update id="updateClient" parameterType="Client">
		UPDATE financedb.client
	SET
	clientName = #{clientName},
	clientType = #{clientType},
	certnumber = #{certnumber} ,
	Fmid = #{Fmid},
	Fact = #{Fact},
	clientstatus = #{clientstatus},
	clientlevel = #{clientlevel},
	risklevelTE = #{risklevelTE},
	risklevelFE = #{risklevelFE},
	FinanID = #{FinanID},
	contactsid = #{contacts.contactid},
	assset = #{assset},
	gender = #{gender},
	certtime = #{certtime},
	birthdateZC = #{birthdateZC},
	birthdateLC = #{birthdateLC},
	nationality = #{nationality},
	marital = #{marital},
	nation = #{nation},
	phone = #{phone},
	address = #{address},
	eamil = #{eamil},
	occpation = #{occpation},
	remarks = #{remarks},
	contactpreference = #{contactpreference},
	controller = #{controller},
	workingyears = #{workingyears},
	legalname = #{legalname},
	Lcerttype = #{Lcerttype},
	Lcertnumber = #{Lcertnumber},
	Lcerttime = #{Lcerttime},
	scopebusiness = #{scopebusiness},
	registermoney = #{registermoney},
	creationtime = #{creationtime},
	newfinancialmanager = #{newfinancialmanager},
	blacklist = #{blacklist},
	Finance = #{Finance},
	certid = #{cert.certid},
	Workunitname = #{Workunitname},
	trade = #{trade},
	nature = #{nature},
	POSITION = #{position},
	Title = #{Title}
	WHERE
	clientid = #{clientid};
	</update>
</mapper>