<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.tiantian.dao.TTClientMapper">
    <insert id="addClient" parameterType="Client">
        INSERT INTO financedb.client
			(clientid,
			clientName,
			clientType,
			certnumber,
			Fmid,
			Fact,
			clientstatus,
			clientlevel,
			risklevelTE,
			risklevelFE,
			FinanID,
			contactsid,
			assset,
			gender,
			certtime,
			birthdateZC,
			birthdateLC,
			nationality,
			marital,
			nation,
			phone,
			address,
			eamil,
			occpation,
			remarks,
			contactpreference,
			controller,
			workingyears,
			legalname,
			Lcerttype,
			Lcertnumber,
			Lcerttime,
			scopebusiness,
			registermoney,
			creationtime,
			newfinancialmanager,
			blacklist,
			Finance,
			certid
			)
			VALUES
			(#{clientid},
			#{clientName},
			#{clientType},
			#{certnumber},
			#{Fmid},
			#{Fact},
			#{clientstatus},
			#{clientlevel},
			#{risklevelTE},
			#{risklevelFE},
			#{FinanID},
			#{contactsid.contactid},
			#{assset},
			#{gender},
			#{certtime},
			#{birthdateZC},
			#{birthdateLC},
			#{nationality},
			#{marital},
			#{nation},
			#{phone},
			#{address},
			#{eamil},
			#{occpation},
			#{remarks},
			#{contactpreference},
			#{controller},
			#{workingyears},
			#{legalname},
			#{Lcerttype},
			#{Lcertnumber},
			#{Lcerttime},
			#{scopebusiness},
			#{registermoney},
			#{creationtime},
			#{newfinancialmanager},
			#{blacklist},
			#{Finance},
			#{certid.certid}
			);
    </insert>
	<insert id="addcontacts" parameterType="Contacts">
		INSERT INTO financedb.contacts
			(contactid,
			contactname,
			clienttype,
			Lcerttype,
			certnumber,
			contactstype,
			contactsphone,
			remarks
			)
			VALUES
			(#{contactid},
			#{contactname},
			#{clienttype},
			#{Lcerttype},
			#{certnumber},
			#{contactstype},
			#{contactsphone},
			#{remarks}
			);
	</insert>
</mapper>