<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
		<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
		<script type="text/javascript">
			$(function () {
				$("#button").click(function () {
					var data=$("form").serialize();
				    $.post("renlingClient",data,function (result) {
						alert(result);
						if (result=='认领客户成功'){
                            location.href='queryClient';
						}
                    })
                })
            })
		</script>
	</head>
	<body>
	<form action="/renlingClient" method="post">
			<table border="1" class="layui-table">
				<tr>
					<td>客户名称：</td>
					<td><input type="text" name="clientName"/></td>
					<td>客户类型：</td>
					<td><select name="clientType">
						<option value="1">自然人</option>
						<option value="2">机构</option>

					</select></td>
				</tr>
				<tr>
					<td>证件类型</td>
					<td><select name="cert.certid">
						<option value="1">身份证</option>
				<td>证件号码：</td>
					<td><input type="text" name="certnumber"/></td>
				</tr>
				
			</table>
			<p>
				认领说明<br />

      一、个人客户<br />

      (1)只有录入的四要素与客户(沫被认领成功的客户唯一匹配才能认领成功,且未促成交易住 款确认时您只是该客户的次要理对经理’<br />(2)多理财经理同时认领同客户时以先到账倒账日期)且被确认的理财经理为准<br />(3)未被愉认的到账做销或出除)时您的认领将被撤销次要理财经理构州除)、<br />机构客户

      <br />(1)只有录入的四要素与客户生要理财经理是中融对高中心的客户)淮-匹配才能认领成功您只是该客户的次要理财经理
			</p>
		<input id="button" type="button" value="确定"> <button>取消</button>
	</form>
	</body>
</html>
