<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.gps.dao.GClientMapper">

    <select id="query" parameterType="Integer" resultType="Client">
        SELECT * FROM `client` where clientid=#{id}
    </select>

    <select id="queryAllByClientId" parameterType="Integer" resultType="Assetsrecord">
        SELECT * FROM `assetsrecord` WHERE userid=#{id} ORDER BY changedate  desc
    </select>

    <select id="queryTotalByDate" resultType="Integer">
        SELECT totalassets FROM `assetsrecord` WHERE changedate >= #{startDate} AND changedate  &lt; #{endDate} AND userid=#{clientid} ORDER BY totalassets DESC  LIMIT 1
    </select>



</mapper>