<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.gps.dao.GClientMapper">

    <select id="query" parameterType="Integer" resultType="Client">
        SELECT * FROM `client` where clientid=#{id}
    </select>

    <select id="queryAllByClientId" parameterType="Integer" resultType="Assetsrecord">
        SELECT * FROM `assetsrecord` WHERE userid=#{id} ORDER BY changedate  desc
    </select>

    <select id="queryTotalByDate" resultType="Integer">
        SELECT totalassets FROM `assetsrecord` WHERE changedate >= #{startDate} AND changedate  &lt; #{endDate} AND userid=#{clientid} ORDER BY totalassets DESC  LIMIT 1
    </select>

    <resultMap id="aMap" type="Assets" autoMapping="true">
        <id  column="assetsid" property="assetsid"></id>
        <association property="client" resultMap="cMap"></association>
        <association property="pruduct" resultMap="pMap"></association>
    </resultMap>
    <resultMap id="cMap" type="Client" autoMapping="true">
        <id column="clientid" property="clientid"></id>
    </resultMap>
    <resultMap id="pMap" type="Product_list" autoMapping="true">
        <id column="productid" property="ProductID"></id>
        <association property="ItemID" resultMap="iMap"></association>
    </resultMap>
    <resultMap id="iMap" type="Item_sheet" autoMapping="true">
        <id column="ItemID" property="ItemID"></id>
        <association property="ItemtypeID" resultMap="itMap"></association>
        <association property="ChanneltableID" resultMap="chMap"></association>
    </resultMap>
    <resultMap id="itMap" type="Item_type_table" autoMapping="true">
        <id column="ItemTypeID" property="ItemTypeID"></id>
    </resultMap>
    <resultMap id="chMap" type="Channel_list" autoMapping="true">
        <id column="ChannelID" property="ID"></id>
    </resultMap>




    <select id="queryAllAssets" parameterType="Integer"  resultMap="aMap">
        SELECT i.`ItemTypeID`FROM `assets` a,`client` c,`product_list` p ,`item_sheet` i, `item_type_table` it
WHERE  a.`clientid`=c.`clientid` AND a.`pruductid`=p.`ProductID`
AND p.`ItemID`=i.`ItemID` AND i.`ItemTypeID`=it.`ItemTypeID`
AND a.`clientid`=#{id}
    </select>

    <select id="queryTotalassets"  parameterType="Integer" resultType="Integer" >
        SELECT totalassets FROM `assetsrecord`  WHERE userid=#{id} ORDER BY totalassets DESC LIMIT 1
    </select>
    <select id="queryTotalByNowDate" resultType="Integer" >
        SELECT totalassets FROM `assetsrecord`   WHERE  changedate >= #{startDate} AND changedate &lt;#{endDate}  and userid =#{clientid}  ORDER BY changedate ASC LIMIT 1
    </select>
<resultMap id="queryNowAssetsBycliendMap" type="Assets" autoMapping="true">
    <id property="assetsid" column="assetsid"/>
    <association property="pruduct" resultMap="pMap"></association>
</resultMap>


    <select id="queryNowAssetsBycliendId"  resultMap="queryNowAssetsBycliendMap" >
      SELECT a.* ,p.* ,c.*
FROM `assets`  a ,`product_list` p ,`item_sheet` i,`channel_list` c
 WHERE a.`pruductid`=p.`ProductID`
 AND   p.`ItemID`=i.`ItemID`
 AND  i.`ChannelTableID` =c.`ChannelID`
 AND a.`expiredate` > NOW()
 AND a.clientid=#{id}


 <if test="pro.Incometype!=null and pro.Incometype !=''">
     AND p.`IncomeType` =#{pro.Incometype}
 </if>
 <if test="pro.ProductName !=null and pro.ProductName !=''">
     AND p.`ProductName` =#{pro.ProductName}
    </if>
<if test="pro.Distributionchannel !=null and pro.Distributionchannel !='' ">
    AND p.`DistributionChannel`=#{pro.Distributionchannel}
</if>
    </select>

<select id="queryAllAssetsBycliendId" resultMap="queryNowAssetsBycliendMap">

    SELECT a.* ,p.* ,c.*
FROM `assets`  a ,`product_list` p ,`item_sheet` i,`channel_list`  c
 WHERE a.`pruductid`=p.`ProductID`
 AND   p.`ItemID`=i.`ItemID`
 AND  i.`ChannelTableID` =c.`ChannelID`
 AND clientid=#{id}

</select>







</mapper>