<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="cn.tcmp.ymy.dao.ClientMapper">
    <resultMap id="map" type="Client" autoMapping="true">
        <id property="id" column="id"></id>
        <association property="secondarymanager" resultMap="map1"></association>
    </resultMap>
    <resultMap id="map1" type="Secondarymanager" autoMapping="true">
        <id column="smid" property="smid"></id>
    </resultMap>
    <select id="queryAll" parameterType="Client" resultMap="map">
    SELECT * FROM CLIENT,secondarymanager WHERE client.contactsid=secondarymanager.smid AND client.`Fmid`!=0
    <if test="client.clientName!=null">
        and clientName like concat('%',#{client.clientName},'%')
    </if>
    <if test="startTime!=null and startTime!=''">
        AND client.`creationtime`>#{startTime}
    </if>
        <if test="endTime!=null and endTime!=''">
            and client.`creationtime` 	&lt; #{endTime}
        </if>
</select>
    <select id="queryClientByFour" parameterType="Client" resultType="Client">
      SELECT * FROM CLIENT WHERE clientName=#{clientName} AND clientType=#{clientType} AND  certnumber=#{certnumber} AND certid=#{cert.certid}
    </select>
    <update id="updateManager" parameterType="integer">
        update client set fmid=#{fmid} where clientid=#{id}
    </update>
    <select id="queryCiYao" parameterType="Secondarymanager" resultMap="smap">
            select * from secondarymanager,client,cert where secondarymanager.managerid=1 and secondarymanager.mianmanage=0 AND client.`clientid`=secondarymanager.clientid and cert.certid=client.certid
        <if test="client.clientName!=null and client.clientName!=''">
           and client.clientName like concat('%',#{client.clientName},'%')
        </if>
        <if test="client.clientType!=null and client.clientType!=''">
            and client.clientType=#{client.clientType}
        </if>
        <if test="client.cert.certid!=null and client.cert.certid!=''">
            and client.certid=#{client.cert.certid}
        </if>
        <if test="client.certnumber!=null and client.certnumber!=''">
            and client.certnumber=#{client.certnumber}
        </if>
        <if test="client.clientstatus!=null and client.clientstatus!=''">
            and client.clientstatus=#{client.clientstatus}
        </if>
    </select>
    <resultMap id="smap" type="Secondarymanager" autoMapping="true">
            <id property="smid" column="smid"></id>
            <association property="client" resultMap="map2"></association>
    </resultMap>
    <resultMap id="map2" type="Client" autoMapping="true">
        <id column="clientid" property="clientid"></id>
        <association property="cert" resultMap="map3"></association>
    </resultMap>
    <resultMap id="map3" type="Cert" autoMapping="true">
        <id property="certid" column="certid"></id>
    </resultMap>
    <select id="queryAppoint" parameterType="integer" resultType="Appointment">
        select * from appointment where clientid=#{id} and appois=1
    </select>



    <select id="queryAllFact" parameterType="Client" resultMap="faMap">
        SELECT * FROM CLIENT WHERE client.fact=1
        <if test="clientName!=null and clientName!=''">
            and clientName like concat('%',#{clientName},'%')
        </if>
        <if test="Fmid!=null and Fmid!=''">
            and fmid=#{Fmid}
        </if>
        <if test="cert.certid!=null and cert.certid!=''">
            and certid=#{cert.certid}
        </if>
        <if test="certnumber!=null and certnumber!=''">
            and certnumber=#{certnumber}
        </if>
</select>

    <resultMap id="faMap" type="Client" autoMapping="true">
        <id column="clientid" property="clientid"></id>
        <association property="cert" resultMap="cmap"></association>
    </resultMap>
    <resultMap id="cmap" type="cert" autoMapping="true">
        <id property="certid" column="certid"></id>
    </resultMap>

    <select id="detail" resultMap="faMap" parameterType="integer">
                SELECT * FROM CLIENT WHERE client.fact=1 and client.clientid=#{id}
    </select>
    <select id="queryAdd" parameterType="Client" resultMap="lmap">
        select * from client,cert where fmid=#{Fmid} and cert.certid=client.certid
        <if test="clientName!=null and clientName!=''">
            and clientName like concat('%',#{clientName},'%')
        </if>
        <if test="clientType!=null and clientType!=''">
            and clientType=#{clientType}
        </if>
        <if test="cert.certid!=null and cert.certid!=''">
            and certid=#{cert.certid}
        </if>
        <if test="certnumber!=null and certnumber!=''">
            and certnumber=#{certnumber}
        </if>
    </select>
    <resultMap id="lmap" type="Client" autoMapping="true">
        <id column="clientid" property="clientid"></id>
        <association property="cert" resultMap="cmap"></association>
    </resultMap>
    <select id="queryBroke" resultMap="broMap" parameterType="Brokeragerelations">
        SELECT * FROM `brokeragerelations`,CLIENT WHERE brokeragerelations.`userid`=client.`clientid`
        <if test="bro.client.clientName!=null and bro.client.clientName!=''">
           and clientName like concat('%',#{bro.client.clientName},'%')
        </if>
        <if test="startDate!=null and startDate!=''">
            and submissiondate>#{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            and submissiondate &lt;#{endDate}
        </if>
        <if test="bro.examinationstatus!=null and bro.examinationstatus!=''">
            and examinationstatus=#{bro.examinationstatus}
        </if>
    </select>
    <resultMap id="broMap" type="Brokeragerelations" autoMapping="true">
        <id property="blid" column="blid"></id>
        <association property="client" resultMap="omap"></association>
    </resultMap>
    <resultMap id="omap" type="Client" autoMapping="true">
        <id column="clientid" property="clientid"></id>
    </resultMap>
















</mapper>