

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>个人主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
    <script src="../../echarts.min.js"></script>
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
</head>
<body style="background-color: white">
<!--选项卡开始-->
<ul class="layui-nav layui-bg-green" lay-filter="component-nav">
    <li class="layui-nav-item"><a href="/client/queryClientDetail">主页</a></li>
    <li class="layui-nav-item "><a href="/client/queryNowAssets">资产</a></li>
    <li class="layui-nav-item"><a href="/client/toyuyue">预约</a></li>
    <li class="layui-nav-item"><a href="javascript:;">经纪关系</a></li>
    <li class="layui-nav-item"><a href="javascript:;">联系人</a></li>
    <li class="layui-nav-item"><a href="javascript:;">事件提醒</a></li>
    <li class="layui-nav-item"><a href="javascript:;">附件</a></li>
</ul>
<!--选项卡结束-->

<div class="layui-fluid layadmin-homepage-fluid">
    <div class="layui-row layui-col-space8">


            <!--左侧菜单栏开始-->
        <div  style="height: 100%" class="layui-col-md2">
            <div style="height: 100%" class="layadmin-homepage-panel layadmin-homepage-shadow">
                <div class="layui-card text-center">
                    <div class="layui-card-body">
                        <div class="layadmin-homepage-pad-ver">
                            <img class="layadmin-homepage-pad-img" th:if="${client.gender eq 1}" src="/img/nan.png" width="96" height="96">
                            <img class="layadmin-homepage-pad-img" th:if="${client.gender eq 2}" src="/img/nv.png" width="96" height="96">
                        </div>
                        <h4 class="layadmin-homepage-font" th:text="${client.clientName}">张鸿铭</h4>
                        <p class="layadmin-homepage-min-font" th:if="${client.clientType eq 1}">个人
                            <span   th:if="${client.Fact eq 1}">事实</span>
                            <span   th:if="${client.Fact eq 2}">潜在</span>
                            客户
                        </p>
                        <p class="layadmin-homepage-min-font" th:if="${client.clientType eq 2}">机构
                            <span   th:if="${client.Fact eq 1}">事实</span>
                            <span   th:if="${client.Fact eq 2}">潜在</span>
                            客户
                        </p>


                        <button style="margin: 1px;" class="layui-btn layui-btn-fluid">事件提醒</button>
                      <p>
                          <button class="layui-btn layui-btn-fluid" style=" margin: 1px;display:inline">资产信息</button>
                          <button class="layui-btn layui-btn-fluid"   style="  margin: 1px;display:inline">联系人</button>
                      </p>
                        <button class="layui-btn layui-btn-fluid" style="background-color: red;margin: 1px">预约</button>
                    </div>
                </div>
            </div>
        </div>
            <!--左侧菜单栏结束-->

            <!--右侧内容开始-->
        <div class="layui-col-md10">

            <div  style="margin: 5px;background-color: white">
                <table width="90%">
                    <tr >
                        <td colspan="3"><h1 th:if="${client.clientlevel eq 2 }">VIP客户</h1></td>
                        <td colspan="3"><h1 th:if="${client.clientlevel eq 1}">高级客户</h1></td>
                    </tr>
                    <tr >
                        <td  width="20%" th:if="${client.risklevelTE eq 1}">保守型</td>
                        <td  width="20%" th:if="${client.risklevelTE eq 2}">稳健型</td>
                        <td  width="20%" th:if="${client.risklevelTE eq 3}">平衡型</td>
                        <td  width="20%" th:if="${client.risklevelTE eq 4}">成长型</td>
                        <td  width="20%" th:if="${client.risklevelTE eq 5}">进取型</td>

                        <td  width="20%" th:if="${client.risklevelFE eq 1}">专业投资者</td>
                        <td  width="20%" th:if="${client.risklevelFE eq 2}">普通投资者C1</td>
                        <td  width="20%" th:if="${client.risklevelFE eq 3}">普通投资者C2</td>
                        <td  width="20%" th:if="${client.risklevelFE eq 4}">普通投资者C3</td>



                       <td width="20%" th:text="${client.nationality}">暂未录入</td>
                    </tr>
                    <tr >
                        <td>41岁</td>
                        <td colspan="2" th:text="${#dates.format(client.birthdateZC,'yyyy-MM-dd')}">生于1976年9月1日（农历八月初八，属龙）</td>
                    </tr>
                </table>
            </div>
            <hr/>

                <span>当前存续资产规模（份 额）：</span>
            <span th:if="${client.assset eq 1}"> 一千万以下</span>
            <span th:if="${client.assset eq 2}"> 一千万至两千万</span>
            <span th:if="${client.assset eq 3}"> 两千万至六千万</span>
            <span th:if="${client.assset eq 4}"> 六千万至八千万</span>
            <span th:if="${client.assset eq 5}"> 九千万以上</span>

                <div id="main"  style="width: 70%;height:200px;margin-left: 40%"></div>



            <hr/>
            <div style="width: 100%;margin: 0px;padding: 0px">
                    <div style="width: 70%;height: 300px;display: inline-block;margin: 0px"  id="line"></div>
                    <div style="width: 20%;height: 300px;display: inline-block;margin: 0px"  id="huan"> </div>
            </div>
            <span style="margin-left: 68%;font-size: 18px;color: #00a2d4" >当前月最高金额占历史最高金额的:</span>
            <span  style="color: red;font-size: 18px" id="zhanbi"></span>
            <hr/>
            <div>
                持有产品：

                  <div style="margin-left: 200px">
                      <img src="/img/chanpin.png" th:if="${xintuo == null}"  height="40" width="40"/>
                      <img src="/img/chanpinbule.png"  th:if="${xintuo eq 1}"  height="40" width="40"/>
                      <img style="margin-left: 70px;" th:if="${jijin == null}" src="/img/chanpin.png" height="40" width="40"/>
                      <img style="margin-left: 70px;"  th:if="${jijin eq 2}" src="/img/chanpinbule.png" height="40" width="40"/>
                      <img  style="margin-left: 70px"  th:if="${guanli == null}" src="/img/chanpin.png" height="40" width="40"/>
                      <img  style="margin-left: 70px"   th:if="${guanli eq 3}" src="/img/chanpinbule.png" height="40" width="40"/>



                   </div>
                   <div style="margin-left: 208px">
                    <span>信托</span>
                    <span  style="margin-left: 70px" >私募基金</span>
                    <span  style="margin-left: 40px" >资产管理计划</span>

                  </div>

                <hr/>
            </div>
            <!--时间轴-->
            <div>
                <div class="layui-card-body">

                    <ul class="layui-timeline">
                        <li class="layui-timeline-item" th:each="a:${alist}" th:object="${a}">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title" th:text="${#dates.format(a.changedate,'yyyy-MM-dd')}+'日 ———— '+${a.changeinformation}">
                                    2018年，layui 5.0 发布，并发展成为中国最受欢迎的前端 UI 框架（期望）
                                </div>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>


        </div>
            <!--右侧内容结束-->






















    </div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index',, 'sample'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element;

        element.render('nav', 'component-nav');
        element.render('nav', 'component-nav-active');

        element.on('nav(component-nav-active)', function(elem){
            layer.msg(elem.text());
        });
    });


</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    myChart.setOption({
        series : [
            {
                name: '客户收益利率',
                type: 'pie',
                radius: '80%',
                data:[
                    {value:335, name:'固定收益'},
                    {value:120, name:'浮动收益'}
                ]
            }
        ]
    })
    myChart.setOption(option);
</script>
<script type="text/javascript">
    var yi=0;
    var er=0;
    var san=0;
    var si=0;
    var wu=0;
    var liu=0;
    var qi=0;
    var ba=0;
    var jiu=0;
    var shi=0;
    var sy=0;
    var se=0;

</script>




<script type="text/javascript" >
    var myline = echarts.init(document.getElementById('line'));
    option = {
        xAxis: {
            type: 'category',
            data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月','八月','九月','十月','十一月','十二月']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    myline.setOption(option);
    $.ajax({
        url:"queryTotalByDate",
        dataType:"json",
        data:{id:1},
        success:function (result) {
            console.log(result);
            yi=result["yi"];
            er=result["er"];
            san=result["san"];
            si=result["si"];
            wu=result["wu"];
            liu=result["liu"];
            qi=result["qi"];
            ba=result["ba"];
            jiu=result["jiu"];
            shi=result["shi"];
            sy=result["sy"];
            se=result["se"];
            option = {
                xAxis: {
                    type: 'category',
                    data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月','八月','九月','十月','十一月','十二月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [JSON.parse(yi), JSON.parse(er), JSON.parse(san), JSON.parse(si), JSON.parse(wu) ,JSON.parse(liu), JSON.parse(qi),JSON.parse(ba),JSON.parse(jiu),JSON.parse(shi),JSON.parse(sy),JSON.parse(se)],
                    type: 'line'
                }]}

            myline.setOption(option);
        }
    });
</script>
<script type="text/javascript" >

    var myhuan = echarts.init(document.getElementById('huan'));

    option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            //orient: 'vertical',
            //x: 'left',
           // data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        },
        series: [
            {
                name:'资产占比',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[]
            }
        ]
    };
    myhuan.setOption(option);

    var date=new Date;
    var year=date.getFullYear();
    var month=date.getMonth()+1;
        var startDate=year.toString()+"-0"+month.toString()+"-"+"01";
        var endDate=year.toString()+"-0"+month.toString()+"-"+"30";
    $.ajax({
        url:"queryTotal",
        dataType:"json",
        data:{startDate:startDate,endDate:endDate,id:1},
        success: function (result) {
            option = {
                series: [
                    {
                        data:[
                            {value:result["now"], name:'当前月最高金额'},
                            {value:result["total"], name:'历史最高金额'}
                        ]
                    }
                ]
            };
            myhuan.setOption(option);
            var b=result["now"];
            var a=result["now"]+result["total"];
            var c=b/a;
            var d =c*100;
          var  zhanbi=d+"%";
         //   alert(zhanbi);
            $("#zhanbi").html(zhanbi);



        }


    })





</script>

</body>
</html>
